html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #b3b9c0;
  background: #2c2f34;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.root {
  display: inherit;
  box-sizing: border-box;
  width: inherit;
  min-height: inherit;
  flex-direction: inherit;
  justify-items: inherit;
  align-items: inherit;
  padding: 47px 0 0;
}

button {
  display: block;
  min-width: 150px;
  height: 2.5em;
  padding: 0 1.5em;
  border: 0;
  margin: 0;
  color: #8f9296;
  background: #373c41;
  cursor: pointer;
}

button:hover,
button:active {
  outline: none;
  background: #212428;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover:disabled {
  background: #373c41;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  padding: 0 0.5em;
  border: 1px solid #3f444c;
  margin: 0;
  color: #b3b9c0;
  background: inherit;
}

input:hover,
input:active {
  padding: 1px 0.5em 0;
  border-bottom: 2px solid #fa6731;
  outline: none;
  background: #212428;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:hover:disabled {
  border-bottom: 1px solid #3f444c;
  background: inherit;
}

input[type="color"] {
  padding: 0;
  width: 2.5em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  color: #b3b9c0;
  background: inherit;
}

select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0 0.25em;
  border: 1px solid #3f444c;
  color: #b3b9c0;
  background: #2c2f34;;
}

select:hover,
select:active {
  padding: 1px 0 0 0.25em;
  border-bottom: 2px solid #fa6731;
  outline: none;
  background: #212428;
}

select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

select:hover:disabled {
  border-bottom: 1px solid #3f444c;
  background: inherit;
}

.widgetLabel {
  padding: 0.5em 0 0;
  line-height: 1.5;
}

.slice9Editor .widgetLabel {
  grid-column: span 3;
}

.widgetTransformation,
.widgetSlice9,
.widgetTextSet
.widgetTextSetItem,
.widgetDimensions {
  display: flex;
  align-items: center;
}

.widgetTextSetItem > input {
  flex-grow: 1;
  width: auto;
}

.widgetTextSetItem > button {
  flex-grow: 0;
  min-width: 0;
}

.widgetSlice9,
.widgetTransformation {
  position: relative;
  padding: 0 0 calc(2.5em + 5px);
}

.widgetTextSetItem {
  margin: 0 0 7px;
}

.widgetComponentLabel {
  width: 1.5em;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 2.5;
}

.widgetComponentLabel + input {
  margin: 0 10px 0 0;
}

.widgetComponentLabel + input:nth-last-child(2),
.widgetComponentLabel + input:last-child {
  margin: 0;
}

.widgetApply {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.slice9Editor .widgetApply {
  right: 10px;
  left: 10px;
}

.page {
  width: 100%;
}

.properties {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 90px auto;
  align-items: flex-start;
  width: 100%;
  padding: 0 10px 10px;
  gap: 7px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 10px;
  gap: 7px;
}

.properties + .actions,
.properties + .properties {
  margin: 20px 0 0;
}

.sectionHeader {
  position: relative;
  height: 32px;
  padding: 0 0 5px;
  border-bottom: 1px solid currentColor;
  margin: 0 0 5px;
}

.properties .sectionHeader {
  grid-column: span 2;
}

.sectionToggle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  color: inherit;
  background: none;
  text-align: left;
}

.sectionToggle::before {
  content: "-";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 7px 0 0;
  font-size: 1.5em;
  line-height: 0.65em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #373c41;
  background: #b3b9c0;
}

.sectionToggle-is-collapsed::before {
  content: "+";
  font-size: 1.65em;
  line-height: 0.8em;
}

.sectionToggle:hover {
  background: none;
}

.controls {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  background: #2c2f34;
}

.controlToggle {
  min-width: 75px;
  height: 2em;
  color: #373c41;
  background: #8f9296;
}

.controlToggle:hover {
  background: #b3b9c0;
}

.slice9Editor {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3.5em 1fr 3.5em;
  gap: 5px;
  align-items: center;
  width: 100%;
  padding: 10px 10px calc(2.5em + 5px);
}

.slice9ImageHolder {
  grid-row: 3;
  grid-column: 2;
  position: relative;
  overflow: hidden;
  width: 100%;
} 

.slice9Image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slice9Input {
  width: 3.5em;
  text-align: center;
}

.slice9Input:nth-child(2) {
  grid-row: 3;
  grid-column: 1;
}

.slice9Input:nth-child(3) {;
  justify-self: center;
  grid-column: 2;
}

.slice9Input:nth-child(4) {
  grid-row: 3;
  grid-column: 3;
}

.slice9Input:nth-child(5) {
  justify-self: center;
  grid-column: 2;
}

.slice9borderTop,
.slice9borderBottom,
.slice9borderLeft,
.slice9borderRight {
  content: "";
  display: block;
  background: #fa6731;
}

.slice9borderTop,
.slice9borderBottom {
  position: absolute;
  width: 100%;
  height: 1px;
}

.slice9borderTop::before,
.slice9borderBottom::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
}

.slice9borderTop {
  top: 0;
  left: 0;
}

.slice9borderBottom {
  bottom: 0;
  left: 0;
}

.slice9borderLeft,
.slice9borderRight {
  position: absolute;
  width: 1px;
  height: 100%;
}

.slice9borderLeft::before,
.slice9borderRight::before {
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
}

.slice9borderLeft {
  top: 0;
  left: 0;
}

.slice9borderRight {
  top: 0;
  right: 0;
}