html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #b3b9c0;
  background: #2c2f34;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.root {
  display: inherit;
  width: inherit;
  min-height: inherit;
  justify-items: inherit;
  align-items: inherit;
}

button {
  display: block;
  min-width: 150px;
  height: 2.5em;
  padding: 0 1.5em;
  border: 0;
  margin: 0;
  color: #8f9296;
  background: #373c41;
}

button:hover,
button:active {
  outline: none;
  background: #212428;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover:disabled {
  background: #373c41;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  padding: 0 0.5em;
  border: 1px solid #3f444c;
  margin: 0;
  color: #b3b9c0;
  background: inherit;
}

input:hover,
input:active {
  padding: 1px 0.5em 0;
  border-bottom: 2px solid #fa6731;
  outline: none;
  background: #212428;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:hover:disabled {
  border-bottom: 1px solid #3f444c;
  background: inherit;
}

input[type="color"] {
  padding: 0;
  width: 2.5em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  color: #b3b9c0;
  background: inherit;
}

select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0 0.25em;
  border: 1px solid #3f444c;
  color: #b3b9c0;
  background: #2c2f34;;
}

select:hover,
select:active {
  padding: 1px 0 0 0.25em;
  border-bottom: 2px solid #fa6731;
  outline: none;
  background: #212428;
}

select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

select:hover:disabled {
  border-bottom: 1px solid #3f444c;
  background: inherit;
}

.widgetLabel {
  padding: 0.5em 0 0;
  line-height: 1.5;
}

.widgetTransformation,
.widgetSlice9 {
  display: flex;
  align-items: center;
}

.widgetSlice9 {
  position: relative;
  padding: 0 0 calc(2.5em + 7px);
}

.widgetComponentLabel {
  width: 1.5em;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 2.5;
}

.widgetComponentLabel + input {
  margin: 0 10px 0 0;
}

.widgetComponentLabel + input:nth-last-child(2) {
  margin: 0;
}

.widgetApply {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.page {
  width: 100%;
}

.properties {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 90px auto;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  gap: 7px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  gap: 7px;
}

.properties + .actions {
  padding: 0 10px 10px;
  margin: 20px 0 0;
}

.sectionHeader {

  padding: 0 0 5px;
  border-bottom: 1px solid currentColor;
  margin: 0 0 5px;
}

.properties .sectionHeader {
  grid-column: span 2;
}